/* title_area 영역 */
#content .title_area .line_map {
    position: absolute;
    right: 0;
    top: 20px;
}

/* Head 정리 */
#content h2 {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 150px;
}

#content h3 {
    font-size: 2.75rem;
    text-align: center;
    position: relative;
}

#content h3::after {
    content: "";
    display: block;
    width: 3px;
    height: 80px;
    background: #ed1b2e;
    position: absolute;
    top: -105px;
    left: 50%;
}

#content .head3_en {
    font-size: 1.39rem;
    text-align: center;
    color: #007ac3;
    font-weight: 200;
    display: block;
    margin: 5px 0 50px 0;
    text-transform: uppercase;
}

#content h4 {
    font-size: 2.22rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

#content .head4_en {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 0.9rem;
    color: #fff;
    background: #ed1b2e;
    padding: 2px 15px 5px 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

#content .head4_area{
    margin:50px auto 50px auto;
}

#content h5 {
    font-size: 1.85rem;
}

#content .sub_head {
    font-size: 1.38rem;
    font-weight: 500;
    margin: 50px auto;
    width: 1200px;
    text-align: center;
}

#content .sub_head_2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0px auto 100px auto;
    width: 1200px;
    text-align: center;
}

#content .main_text {
    font-size: 1.13rem;
    text-align: justify;
    font-weight: 400;
    /* width: 1200px; */
    /* margin: 50px auto; */
}


/* 중간탭 */
#content .tab_menu_all {
    margin: 0 auto;
    width: 1200px;
    /* padding: 0 10px; */
}

#content .tab_menu_all .tab_menu {
    display: flex;
    gap: 15px;
    margin: 40px auto 0px auto;
    padding:  0; 
    flex-wrap: wrap; /* 필요시 여러 줄로 나누기 */
    justify-content: center; /* 중앙 정렬 */
}

#content .tab_menu_all .tab_menu li {
    flex: 1 1 auto;
}

#content .tab_menu_all .tab_menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* 높이 고정 */
    border-radius: 8px;
    border: 1.5px solid #007ac3;
    background: #f3f3f3;
    color: #007ac3;
    font-weight: 500;
    font-size: 1.25rem;
    /* text-align: center; */
    /* white-space: nowrap; */
    padding: 5px 10px;
    transition: all ease-in-out .3s;
}
#content .tab_menu_all .tab_menu li a:hover {
    color: #fff;
    background: #007ac3;
}