
#content .content_area {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#content .content_area .fa-solid {
    margin-left: 8px;
}


/* ESG - 환경 본문 내용 css */

#content h4{
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 40px;
}

#content h5{
    font-size: 1.3rem;
    color: #333;
    font-weight: 600;
    margin: 20px 0;
    position: relative;
}

#content .content_area h4::after{
    content: "";
    position: absolute;
    top: 60px;
    transform: translateX(-50%);
    left: 50%;
    font-size: 1.19rem;
    color: #007AC3;
    font-weight: 200;
    width: 100%;
    height: 100%;
    text-align: center;
}

#content .content_area .environment .main_img{
    display: block;
    text-align: center;
    margin: 80px auto;
    width: 800px;
    height: auto;
}

#content .content_area div .tab_menu ul li a{
    padding: 70px 50px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    display: block;
    clear: both;
    font-size: 1.3rem;
}

#content .content_area div  .tab_menu ul li a>div{
    border: 3px solid #fff;
    border-radius: 100%;
    font-weight: 500;
    text-align: center;
    font-size: 3.5rem;
    color: #fff;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#content .content_area .text_area_1{
    font-size: 1.35rem;
    text-align:center;
    position: relative;
    font-weight: 500;
    width: 1200px;
    margin: 100px auto 50px auto;
}

#content .content_area .text_area_2{
    font-size: 1rem;
    text-align: justify;
    font-weight: 400;
    width: 1200px;
    margin:  0px auto 50px auto;
}

#content .content_area .text_area_3{
    font-size: 1.15rem;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}

#content .content_area .green_2023{
    /* position: relative; */
    /* display: flex; */
    /* gap: 10px; */
    width: 100%;
}

#content .content_area .green_2023 .green_img{
    display: flex;
    /* gap: 10px; */
    /* width: 272px; */
    justify-content: space-between;
}

#content .content_area .green_2023 .green_txt{
    display: flex;
    gap: 10px;
    /* width: 272px; */
}

#content .content_area .green_2023 .green_txt .txt_01{
    width: 272px;
}


#content .content_area .green_2023 .green_txt li:not(:nth-of-type(1)){
    margin-left: 30px;
    list-style: disc;
}



/* #content .content_area .green_2023_01{
    background: url(../images/environ_1.png);
    width: 24%;
    height: auto;
    position: absolute;

}

#content .content_area .green_2023_02{
    background: url(../images/environ_2.png);
    width: 24%;
    height: auto;
    position: absolute;

}

#content .content_area .green_2023_03{
    background: url(../images/environ_3.png);
    width: 27%;
    height: auto;
    position: absolute;

}

#content .content_area .green_2023_04{
    background: url(../images/environ_4.png);
    width: 24%;
    height: auto;
    position: absolute;

} */


