#content .content_area{
    margin: 0 auto;
    width: 1200px;
}

#content .content_area .con{
    margin-bottom: 250px;
}

/* 1. 직급제도 */
#content .content_area .content_1 .p3{
    text-align: center;
    margin: 5px 0 30px 0;
}
#content .content_area .content_1 .con_item{
    text-align: center;
}
#content .content_area .content_1 .con_item img{
    margin-top: 80px;
}

#content .content_area .content_1 .con_item ul{
    display: flex;
    position: relative;
}
#content .content_area .content_1 .con_item ul span{
    color: #4ca1ed;
}

#content .content_area .content_1 .con_item ul li{
    font-size: 2rem;
    font-weight: 600;
    /* margin-bottom: 60px; */
    position: absolute;
    text-align: center;
}
#content .content_area .content_1 .con_item ul li:nth-child(1){
    top: 320px;
    left: 95px;
}        
#content .content_area .content_1 .con_item ul li:nth-child(2){
    top: 250px;
    left: 305px;
}  
#content .content_area .content_1 .con_item ul li:nth-child(3){
    top: 170px;
    left: 490px;
}
#content .content_area .content_1 .con_item ul li:nth-child(4){
    top: 80px;
    left: 685px;
}        
#content .content_area .content_1 .con_item ul li:nth-child(5){
    top: 5px;
    right: 183px;
} 
/* #content .content_area .content_1 .con_item{
    display: flex;
    gap: 30px;
} */

/* #content .content_area .content_1 div{
    height: 560px;
    background: url(../images/content2/human_resources_2.png) no-repeat;
    background-position : 90% center;
    position: relative;
    overflow: hidden;
}
#content .content_area .content_1 div ul{
    margin-top: 50px;
    margin-left: 5%;
} */
 




/* 2. 급여&포상제도 */
#content .content_area .content_2 .con_item{
    display: flex;
    gap: 30px;
    margin-top: 35px;
}
#content .content_area .content_2 .con_item ul{
    display: flex;
}

#content .content_area .content_2 .con_item ul li img{
    width: 110px;
}

#content .content_area .content_2 .con_item ul li p{
    font-weight: 500;
    font-size: 1.25rem;
    /* text-align: center; */
    color: #fff;
    padding-top: 10px;
}
#content .content_area .content_2 .con_item ul li:nth-of-type(1){
    background:#58a7f4;
    border-radius: 30px 0 0 0;
    width: 300px;
    padding: 20px;
    text-align: center;
}
#content .content_area .content_2 .con_item ul li:nth-of-type(2){
    border: 1px solid #ccc;
    padding: 45px 30px;
    font-size: 1.1rem;
}

/* 3. 복리후생제도 */
#content .content_area .content_3 .con_txt{
    position: relative;
    margin: 70px 0 120px 0;
}

#content .content_area .content_3 .con_txt .head_box{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 165px;
    height: 165px;
    background: #007AC3;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

#content .content_area .content_3 .con_txt .head_box p{
    text-align: center;
    align-items: center;
    padding: 50px 0;
}

#content .content_area .content_3 .con_02 .head_box p{
    padding: 65px 0;
}

#content .content_area .content_3 .con_txt .txt_box{
    background: #ccc;
    width: 93%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 220px;
    z-index: -1;
}
#content .content_area .content_3 .con_txt .txt_box ul{
    list-style: disc;
    margin: 55px  0 55px 140px;
    line-height: 1.6rem;
}

#content .content_area .content_3 .con_02 .txt_box ul{
    margin: 35px  0 35px 140px;

}
