#content .content_area {
    width: 1200px;
    margin: 50px auto;
    position: relative;
}

/* 스포렉스 - 상사 본문 내용 css */
#content .content_area .text_area_3 > i {
    margin-right: 20px;
    color: #ed1b2e;
}

#content .point {
    border-radius: 20px;
    border: 2px solid #007ac3;
    padding: 30px;
    width: 1200px;
    margin: 80px auto;
    position: relative;
}

#content .point p {
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 400;
    margin-top: 10px;
}

#content .point > span {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background: #007ac3;
    border-radius: 20px;
    padding: 8px 50px;
}

#content .content_area .con_text {
    margin: 80px auto;
}

#content .content_area .con_text .serch_box {
    width: 550px;
    margin: 20px auto 50px;
}
#content .content_area .con_text .serch_box label {
    font-size: 22px;
}
#content .content_area .con_text .serch_box input {
    font-size: 20px;
    padding: 5px 10px;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
}
#content .content_area .con_text .serch_box button {
    width: 100px;
    padding: 5px 0;
    font-size: 18px;
    border: 0;
    background: #ed1b2e;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
#content .content_area .con_text .serch_box .btn_all {
    background: #333;
}

#content .content_area .con_text .sporex li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 50px;
}
#content .content_area .con_text .sporex li img {
    width: 50%;
}
#content .content_area .con_text .sporex li div {
    width: 45%;
}
#content .content_area .con_text .sporex li p {
    margin-bottom: 15px;
    text-align: left;
}
