#content .content_area h4 {
    text-align: center;
    margin-bottom: 8px;
}

#content .h5_sec {
    margin-bottom: 150px;
}

#content .content_area h5 {
    font-size: 2.5rem;
    margin: 65px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 10px #333;
}

#content .content_area .sub_head {
    width: 1200px;
    margin: 0 auto;
}

/* ----- sub2_2 각영역 고정배경(문단분리) ----- */
#content .content_area .con_back {
    width: 100%;
    height: 280px;
    padding: 100px 0;
    color: #fff;
    text-align: center;
    filter: grayscale(50%);
    z-index: 1;
}

#content .content_area .trade_1 .con_back {
    background: url(../images/content2/chemical_1.jpg) 50% 50% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#content .content_area .trade_2 .con_back {
    background: url(../images/content2/chemical_2.jpg) 50% 50% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#content .content_area .trade_3 .con_back {
    background: url(../images/content2/chemical_3.jpg) 50% 50% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

#content .content_area .trade_4 .con_back {
    background: url(../images/content2/chemical_4.jpg) 50% 50% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

/* ----- sub2_2 각영역 이미지 정리(고정배경 위 배치) ----- */
#content .content_area .pic {
    margin: -100px auto 50px auto;
    width: 1200px;
    position: relative;
    z-index: 2;
}

#content .content_area .pic ul {
    display: inline-flex;
    gap: 30px;
    justify-content: center;
}

#content .content_area .pic ul li {
    height: 280px;
    /* border: 1px solid red; */
}

#content .content_area .trade_1 .pic ul li {
    width: 25%;
}

#content .content_area .trade_2 .pic ul li {
    width: 33.333%;
}

#content .content_area .trade_3 .pic ul li {
    width: 25%;
}

#content .content_area .trade_4 .pic ul {
    justify-content: center;
    margin: 0 auto;
}

#content .content_area .trade_4 .pic ul li {
    width: 50%;
}

#content .content_area .pic ul li img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
    object-position: center;
}

/* ----- sub2_2 상사영역 본문시작 ----- */
#content .content_area .point {
    border-radius: 20px;
    border: 2px solid #007ac3;
    padding: 30px;
    margin: 80px auto;
    width: 1200px;
    position: relative;
}

#content .content_area .point > span {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    background: #007ac3;
    border-radius: 20px;
    padding: 5px 50px 8px 50px;
    width: 860px;
}

#content .content_area .point p {
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 400;
    margin-top: 10px;
}

/* ----- sub2_2 1. trade_1 ----- */
#content .content_area .trade_1 .con_text .product {
    width: 1200px;
    margin: 0 auto;
}
#content .content_area .trade_1 .con_text .product li strong {
    position: relative;
}

#content .content_area .trade_1 .con_text .product li strong::after {
    content: "";
    position: absolute;
    top: 0;
    left: -45px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #fff;
    border: 11px solid #ed1b2e;
}
