/* 공통 content_area 영역*/
#content .content_area .zone{
    margin-bottom: 220px;
}
#content .sub_head {
    margin-bottom: 20px;
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 50px;
}
#content .main_text{
    font-size: 1rem;
    text-align: justify;
}

/* --------------------------------------------------------------------------- */
/* 1_CEO 인사말 css */
#content .content_area::before{
    content: '';
    width: 550px;
    height:598px;
    display: block;
    background: url(../imgaes/content1/BG.png);
    position: absolute;
    top:0 ;
    left:50%; 
    margin-left: -900px;
    z-index: -1;
}

#content .content_area .greeting_area ul{
    display: flex;
    gap: 30px;
}

#content .content_area .greeting_area ul .ceo_pic{
    border-radius: 50px;
}
#content .content_area .greeting_area .ceo_sign{
    text-align: right;
}
#content .content_area .greeting_area .ceo_sign>p{
    display: inline-block;
    margin: 4.5px 10px 0 0;
}

/* --------------------------------------------------------------------------- */
/* 2_globla_area 영역 */
#content .global_area ul{
    display: flex;
    gap: 20px;
}

#content .global_area ul .global_pic{
    border-radius: 50px;
}

/* --------------------------------------------------------------------------- */
/* global_vision 영역 */
#content .global_vision .center{
    text-align: center;
}

#content .global_vision .vision_pic{
    display: block;
    margin: 0 auto 50px auto;
}

