/* 공통 content_area 영역*/
#content .content_area .zone{
    margin-bottom: 220px;
}
/* --------------------------------------------------------------------------- */
/* 1_CEO 인사말 css */
/* #content .content_area::before{
    content: '';
    width: 550px;
    height:598px;
    display: block;
    background: url(../imgaes/content1/BG.png);
    position: absolute;
    top:0 ;
    left:50%; 
    margin-left: -900px;
    z-index: -1;
} */

#content .content_area section .con_box_1 ul{
    display: flex;
    gap: 35px;
}
#content .content_area section .con_box_1 ul li:nth-of-type(1){
    width: 42%;
}

#content .content_area section .con_box_1 ul li:nth-of-type(2){
    width: 58%;
}

#content .content_area section .con_box_1 ul .ceo_pic{
    border-radius: 50px;
    width: 100%;
}
#content .content_area section .con_box_1 .ceo_sign{
    text-align: right;
}
#content .content_area section .con_box_1 .ceo_sign>p{
    display: inline-block;
    margin: 4.5px 10px 0 0;
}

/* --------------------------------------------------------------------------- */
/* 2_globla_area 영역 */
#content .content_area section .con_box_2 ul{
    display: flex;
    gap: 35px;
}

#content .content_area section .con_box_2 ul .global_pic{
    border-radius: 50px;
}

/* --------------------------------------------------------------------------- */
/* con_box_3 영역 */
#content .content_area section .con_box_3 .center{
    text-align: center;
}

#content .content_area section .con_box_3 .vision_pic{
    display: block;
    margin: 0 auto 50px auto;
}

